name: Check for new Meilisearch releases

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

jobs:

  check-releases:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GH_PAT }}
      
    - name: Get latest Meilisearch release
      id: latest_release
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      run: |
        latest_release=$(curl -s -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/meilisearch/meilisearch/releases/latest | jq -r ".tag_name")
        echo "latest_release=$latest_release" >> $GITHUB_OUTPUT
        
    - name: Check if there are existing tags
      id: check_tags
      run: |
        existing_tags=$(git tag)
        if echo "$existing_tags" | grep -q "${{ steps.latest_release.outputs.latest_release }}"; then
          echo "tags_exist=true" >> $GITHUB_OUTPUT
        else
          echo "tags_exist=false" >> $GITHUB_OUTPUT
        fi

    - name: Check if new minor version release exists
      id: new_release
      if: steps.check_tags.outputs.tags_exist == 'false'
      run: |
        previous_release=$(cat .github/previous.txt || echo "")
        latest_minor_version=$(echo "${{ steps.latest_release.outputs.latest_release }}" | awk -F. '{print $1"."$2}')
        previous_minor_version=$(echo "$previous_release" | awk -F. '{print $1"."$2}')
        
        if [ "$previous_minor_version" != "$latest_minor_version" ]; then
          echo "new_release=true" >> $GITHUB_OUTPUT
        else
          echo "new_release=false" >> $GITHUB_OUTPUT
        fi
        
    - name: Create new tag
      if: steps.new_release.outputs.new_release == 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      run: |
        git tag ${{ steps.latest_release.outputs.latest_release }}
        git push origin ${{ steps.latest_release.outputs.latest_release }}

    - name: Create Release
      if: steps.new_release.outputs.new_release == 'true'
      run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GH_PAT }}" \
            https://api.github.com/repos/${{ github.repository }}/releases \
            -d '{
              "tag_name": "${{ steps.latest_release.outputs.latest_release }}",
              "name": "${{ steps.latest_release.outputs.latest_release }}",
              "body": "Build for https://github.com/meilisearch/meilisearch/releases/tag/${{ steps.latest_release.outputs.latest_release }}",
              "draft": false,
              "prerelease": false
            }'
        
    - name: Save latest release
      if: steps.new_release.outputs.new_release == 'true'
      run: |
        echo "${{ steps.latest_release.outputs.latest_release }}" > .github/previous.txt
